*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --text:1.5rem;
    --head:calc(1rem+5vw);
}
body{
font-family: 'Poppins', sans-serif;
}

.hero-section{
    min-height: 100vh; 
    background:url("mahyar-motebassem-pGA4zHvpo5E-unsplash.jpg");  
   background-repeat: no-repeat;
   background-size: cover;   
   background-position: center; 
   
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:10vh;
    padding:0rem 1rem;
    color:black;
}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    display:inline-block;
    margin-left: 3rem;
    font-size:var(--text);
}
.navbar ul li a{
    text-decoration: none;
    color:black;
}
.hero-text{
    color: white;
    height: 90vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-text a{
    color:white;
    background-color:yellowgreen;
    font-weight: 900;
    padding: 0.8rem 1rem;
}
.hero-text a:hover{
    opacity:0.8;
}
.hero-text h2{
    background-color: black;
    padding:0.2rem  0.1rem;
    font-size: 3rem;
}
.hero-text p{
    font-size:2rem;
}
